* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #6e1919;
    text-align: center;
}

#key,
#key2 {
    width: 200px;
    height: 200px;
    border: 2px solid rgba(0, 0, 0, 0.527);
    margin: 10px;
}

#key2 {
    display: none;
}