* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f00bab;
    font-family: Arial, sans-serif;
    text-align: center;
}

#ele1:hover {
    background-color: #b3acac;
    
}