* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 211, 155);
    min-height: 100vh;
    margin: 0;
}

.titulo {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;

}

.container {
    text-align: center;
   
}


.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #0e0101;
    background-color: #88b5e6;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
    text-align: center;
}

.pie {
    background-color: #05172b;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}